@model Project1Portfolio.Models.Experience

@{
    ViewBag.Title = "CreateExperience";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Deneyim Girişi</h2>

<form method="post">
    <label>Şirket Adı</label>
    @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control" })
    <br />
    <label>İş Tarihi</label>
    @Html.TextBoxFor(x => x.WorkDate, new { @class = "form-control" })
    <br />
    <label>Unvan</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 6, 0, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Deneyimi Ekle</button>
</form>

