
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@Html.Action("PartialHead", "Admin")

<body>
    <div class="wrapper d-flex align-items-stretch">

        @Html.Action("PartialSideBar", "Admin")

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            @Html.Action("PartialNavbar", "Admin")
 
            <h2 class="mb-4">Kategori Listesi</h2>

            Buraya Kategoriler Gelecek
           
        </div>
    </div>

    <script src="/Content/sidebar-01/js/jquery.min.js"></script>
    <script src="/Content/sidebar-01/js/popper.js"></script>
    <script src="/Content/sidebar-01/js/bootstrap.min.js"></script>
    <script src="/Content/sidebar-01/js/main.js"></script>
</body>
</html>