
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>Kategori Id</th>
            <th>Kategori Adı</th>
            <th>Kategori Durumu</th>
            <th>Detaylar</th>
        </tr>

        <tr>
            <td>1</td>
            <td>Meyve Sebze</td>
            <td>Aktif</td>
            <td><button class="btn btn-info">Detaylar</button></td>
        </tr>

        <tr>
            <td>2</td>
            <td>İçecek</td>
            <td>Aktif</td>
            <td><button class="btn btn-info">Detaylar</button></td>
        </tr>
    </table>

</div>